<div class="container">
  <h2 class="center-text">What I'm working on.</h2>
  <p> My main project right now is SongTub, a soon to be music licensing platform. Besides that I am making games with friends, and the blog section should soon have syntax highlighting.</p>
  <h5>Here are my github repos:</h5>
</div>
<div class="container" *ngFor="let repo of repos;">
  <md-card>
    <md-card-header>
      <md-card-title><a href="{{ repo.html_url }}">{{ repo.name }}</a></md-card-title>
      <md-card-subtitle>{{ repo.language }}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>{{ repo.description }}</p>
    </md-card-content>
  </md-card>
   <br /> 
</div>