<div class="center-text">
  <h2>Current</h2>
  <p> My main projects right now are SongTub, a soon to be music licensing platform, making games with friends, and whatever
    is on my github:</p>
</div>
<div class="repo-list" *ngFor="let repo of repos;">
  <md-card>
    <md-card-header>
      <md-card-title>{{ repo.name }}</md-card-title>
      <md-card-subtitle>{{ repo.language }}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>{{ repo.description }}</p>
    </md-card-content>
  </md-card>
  <br />
</div>