<div class="roboto">
  <div class="App-header">
    <br />
      <h1 class="center-text">Hey, I'm Crux.</h1>
        <img class="Img-size center-block img-responsive img-circle" 
        src="../../assets/img/cf_cropped.png" 
        mdTooltip="Click my face to hide it!" 
        mdTooltipPosition="left"
        (click)="showHide = !showHide"
        *ngIf="!showHide">
      <h4 *ngIf="showHide" 
      class="center-text" 
      (click)="showHide = !showHide"
      mdTooltip="Click to bring back my face!">Bring me back!</h4>
      <h1 class="center-text">I like to program and I work in "devops".</h1>
      <div class="center-block center-text">
        <button md-mini-fab color="primary" [routerLink]="['/Home']"><i class="fa fa-home" aria-hidden="true"></i></button>
        <button md-raised-button color="primary" [routerLink]="['/Blog']">Blog</button>   
        <button md-raised-button color="primary" [routerLink]="['/Projects']">Projects</button>        
      </div>
      <br />
      <div class="center-block center-text">
        <a  href="https://www.linkedin.com/in/chris-freeland/"><button md-mini-fab color="primary"><i class="fa fa-linkedin"></i></button></a>
        <a href="https://github.com/cruxone"><button md-mini-fab color="primary"><i class="fa fa-github"></i></button></a>
      </div>
  </div>
  <br />
<router-outlet></router-outlet>
<h1 class="center-text">¯\_(ツ)_/¯</h1> 
<footer class="center-text">
  <h3><i class="fa fa-envelope"></i> chris@crux.cool</h3>
</footer>
</div>