<div class="roboto">
  <div class="App-header">
    <br />
      <h2 class="center-text spacer">Hey, I'm Crux</h2>
        <img class="img-size center-block img-fluid img-circle" 
        src="../../assets/img/cf_cropped.png" 
        mdTooltip="Click my face to hide it!" 
        mdTooltipPosition="left"
        (click)="showHide = !showHide"
        *ngIf="!showHide">
      <h6 *ngIf="showHide" 
      class="center-text" 
      (click)="showHide = !showHide"
      mdTooltip="Click to bring my face back!">Bring me back!</h6>
      <!-- <h2 class="center-text spacer">I like to program and I work in "devops"</h2> -->
      <!-- <div class="center-block center-text">
        <button type="button" class="btn btn-dark" [routerLink]="['/Home']">Home</button>
        <button type="button" class="btn btn-dark" [routerLink]="['/Projects']">Projects</button>
      </div> -->
      <div class="center-block col-md-4">
        <br />
        <h4>About</h4>
        <p>I'm a guy typing in the Pacific Northwest. Playing Dungeons and Dragons till midnight then programming till work starts.</p>

        <p>I've been a huge fan of Angular so far and have used it in fun and freelance. Devopsing with node and python faithfully by my side admist a bastion of AWS Infrastructure. </p>
      </div>
      <br />
      <div class="center-block center-text">
        <a  href="https://www.linkedin.com/in/chris-freeland/"><button type="button" class="btn btn-dark"><i class="fa fa-linkedin"></i></button></a>
        <a href="https://github.com/cruxone"><button type="button" class="btn btn-dark"><i class="fa fa-github"></i></button></a>
      </div>
  </div>
  <br />
<router-outlet></router-outlet>
<h3 class="center-text">¯\_(ツ)_/¯</h3> 
<footer>
</footer>
</div>