<div class="center-text text-block">
  <button md-button 
  [mdMenuTriggerFor]="menu"
  mdTooltip="Feature coming soon!" 
  mdTooltipPosition="left">Select a post.</button>
  <md-menu #menu="mdMenu">
    <button md-menu-item *ngFor="let post of posts;">{{ post.title }}</button>
  </md-menu>
</div>
<div>
  <div class="blog-text" *ngFor="let post of posts;">
    <h3>{{ post.title }}</h3>
    <h4>{{ post.subtitle }}</h4>
    <hr />
    <p *ngFor="let paragraph of post.body">{{ paragraph }}</p>
  </div>
</div>