/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~https://fonts.googleapis.com/css?family=Roboto';
.roboto {
  font-family: 'roboto'
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
 }
.center-text {
  text-align: center;
}
  .bgimg {
background: #134E5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #71B285, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #71B285, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white; 
}  
.text-block {
  margin-left: 15%;
  margin-right: 15%;
}