<div class="roboto">
  <div class="App-header">
      <h1 class="center-text">Hey, i'm Crux.</h1>
        <img class="Img-size center-block img-responsive img-circle" src="../../assets/img/cf_cropped.png">
      <h1 class="center-text">I like to program, and I work in devops.</h1>
      <div class="center-block center-text">
        <button md-raised-button color="primary">Blog</button>
        <button md-raised-button color="primary">Projects</button>
        <button md-raised-button color="primary">Contact</button>
      </div>
      <br />
      <div class="center-block center-text">
        <button md-mini-fab color="primary"><i class="fa fa-linkedin"></i></button>
        <button md-mini-fab color="primary"><i class="fa fa-github"></i></button>
      </div>
  </div>
  <br />
  <h1 class="center-text">¯\_(ツ)_/¯</h1> 
</div>